h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.container section{
    width: 75%;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8% 10%;
}
.container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}
.container h1{
    font-size: 3.5rem;
    color: #3E0703;
}
.container h1 span{
    color: #660B05;
    font-size: 3.5rem;
}
main .container section p{
    text-align: justify;
    color: #8C1007;
}
.img-wrapper{
    width: 50%;
    border: 3px solid #3E0703;
    border-radius: 10px;
}