*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
    font-size: 1.1rem;
    
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    /* width: 100%; */
    color: gray;
    width: 100vw;
    height: 100vh;
}
main{
    background-color: rgba(128, 128, 128, 0.439);
}
.container section{
    width: 75%;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8% 10%;
}
.container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    
    /* margin: 0px 150px; */
}
.container h1{
    font-size: 3.5rem;
    color: antiquewhite;
}
.container h1 span{
    color: tomato;
    font-size: 3.5rem;
}
main .container section p{
    text-align: justify;
    color: antiquewhite;
}
.img-wrapper{
    width: 50%;
    border: 3px solid tomato;
    border-radius: 10px;
}