nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    background-color: #FFF5F2;
}
.brand{
    color: #660B05;
    transition: transform 400ms ease;
}
.brand:hover{
    transform: translateX(10px);
}
nav .link-list ul{
    display: flex;
    gap: 4em;
    list-style: none;
}
nav .link-list ul li a{
    text-decoration: none;
    font-weight: 500;
    color: #8C1007;
}
nav .link-list ul li a:hover{
    color: #8f6d6e;
    transition: color 500ms ease;  
}
.con-button{
    padding: 8px 2rem 12px 2rem;
    color: antiquewhite;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;   
    background-color: #660B05;
}
.con-button:hover{
    box-shadow: 0px 3.5px 0px 0px #9c3d2a;
    /* box-shadow: inset 0px -4px 0px 0px #9c3d2a; */
    transition: box-shadow 500ms ease;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    background-color: #FFF5F2;
    border-top: 1px solid rgba(128, 128, 128, 0.676);
    border-radius: 10px;
}