*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
    font-size: 1.1rem;
    color: antiquewhite;
}
h1{
    font-size: 3.5rem;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
main{
    background-color: rgba(128, 128, 128, 0.439);
    padding: 8% 10%;
}
body{
    background-color: black;
    /* width: 100%; */
    color: gray;
    width: 100vw;
    height: 100vh;
}